[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/home/neilgarcia/.vim/bundle/seti"]
	path = /home/neilgarcia/.vim/bundle/seti
	url = https://github.com/trusktr/seti.vim.git
[submodule "bundle/bundle/seti"]
	path = bundle/bundle/seti
	url = https://github.com/trusktr/seti.vim.git
[submodule "bundle/seti"]
	path = bundle/seti
	url = https://github.com/trusktr/seti.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/materialize"]
	path = bundle/materialize
	url = https://github.com/kristijanhusak/vim-hybrid-material.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
