[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/materialize"]
	path = bundle/materialize
	url = https://github.com/kristijanhusak/vim-hybrid-material.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vroom"]
	path = bundle/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/zoomwin-vim"]
	path = bundle/zoomwin-vim
	url = https://github.com/drn/zoomwin-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/seti"]
	path = bundle/seti
	url = https://github.com/kostacoffee/seti.vim.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/MaxMEllon/molokai.git
  ignore = dirty
[submodule "bundle/vim-buffkill"]
        ignore = dirty
	path = bundle/vim-buffkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-buftabline"]
	path = bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "bundle/startify"]
	path = bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ctrlp-py-matcher"]
        ignore = dirty
	path = bundle/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
[submodule "bundle/apprentice"]
	path = bundle/apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
